* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'BinggraeSamanco-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '777Balsamtint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header{
    height: 80px;
    text-align: center;
    background-color:#FFD758;
    color: #965562;
    font-family: 'BinggraeSamanco-Bold';
    font-size: 30px;
    text-align: center;
}
.main {
    height: 1100px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
}
.img-box {
    width: 20%;
}
.img-box img {
    width: 100%;
}
.ingredient {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.filling .entry {
    margin-left: 5rem;
}
.entry {
    width: 70%;
    background-color: #FFFFDC;
    text-align: center;
    padding: 10px;
}
.entry .title {
    padding: 5px;
    color: #965562;
    font-family: '777Balsamtint';
    font-size: 30px;
    text-align: center;
}
.entry .content {
    padding: 10px;
    color: #965562;
    font-family: '777Balsamtint';
    font-size: 25px;
    text-align: center;
}
.dummy {
    background-color: white;
}