{% extends 'breadcat/base.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="ingredient top-bread">
            <div class="img-box">
                <img src="{% static 'img/bread-top.png' %}" alt="sliced-bread">
            </div>
            <div class="entry dummy"></div>
        </section>
        {% for post in post_list %}
            <section class="ingredient filling">
                <div class="img-box">
                    {% if post.ingredient == 'bacon' %}
                        <img src="{% static 'img/bacon.png' %}" alt="bacon">
                    {% elif post.ingredient == 'basil' %}
                        <img src="{% static 'img/basil.png' %}" alt="basil">
                    {% elif post.ingredient == 'cheese' %}
                        <img src="{% static 'img/cheese.png' %}" alt="cheese">
                    {% elif post.ingredient == 'tomato' %}
                        <img src="{% static 'img/tomato.png' %}" alt="tomato"> 
                    {% endif %}
                </div>
                <div class="entry">
                    <h5 class="question">
                        Question: {{ post.question }}
                    </h5>
                    <p class="answer">
                        Answer: {{post.answer}}
                    </p>
                    <p class="pub-date">
                        {{post.date}}
                    </p>

                    <input type="button" value="update">
                    <input type="button" value="delete">

                </div>
            </section>
        {% endfor %}
        
        <section class="ingredient bottom-bread">
            <div class="img-box">
                <img src="{% static 'img/bread-bottom.png' %}" alt="sliced-bread">
            </div>
            <div class="entry dummy"></div>     
        </section>
    </main>
    
        <div class="create">
            <a class="create-btn" href="{% url 'create' %}">
                <h1>+</h1>
                <p>재료 추가</p>
            </a>
        </div>

{% endblock %}